<htm></htm>
<head>
    <title>RESUME</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
    <div>
        <center>
        <h1>RESUME</h1>
        </center>

    <h3>LEA EVANGELISTA YEPEZ</h3>
        <img src= "lea.jpg" hspace=100 >
    <h4>BL 10 LT 22 PH1 Deca Indangan Davao City</h4>
    <h4>aelyang23@gmail.com</h4>
    <h4>Contact No.:09500949900</h4>
    <hr>

<h3>CAREER OBJECTIVE</h3>

<h4>To succeed in an environment of growth and excellence and earn a job which provides me job satisfaction
 and self-development that would help me achieve personal and organization goals and success.</h4>

<h3>EDUCATIONAL BACKGROUND</h3>
<table border = 5 class = "center">
<tr>
     <th>DEGREE</th>
     <th>SCHOOL</th>
     <th>YEAR GRADUATED</th>
     <th>HONORS RECEIVED</th>
</tr>
<tr>
     <th>Bachelor of Science in Information Technology</th>
     <th>University of Southeastern Philippines</th>
     <th>Studying</th>
     <th>None</th>
</tr>
<tr>
     <th>Computer Technology</th>
     <th>Assumption College of Davao</th>
     <th>2011</th>
     <th>None</th>
</tr>
<tr>
     <th>High School</th>
     <th>Immaculate Academy</th>
     <th>2008</th>
     <th>8th Hon. Mention</th>
</tr>
<tr>
     <th>Primary School</th>
     <th>Lobgon Elementary School</th>
     <th>2004</th>
     <th>Class Valedictorian</th>
</tr>
</table>

<h3>TRAININGS AND SEMINARS ATTENDED</h3>
<table border = 5 width= 1020 class = "center">
<tr>
     <th>SEMINARS/TRAININGS</th>
     <th>DATES</th>
     <th>CONDUCTED BY</th>
</tr>

<tr>
     <th>Gender and Sensitivity Training</th>
     <th>July 17-20, 2017</th>
     <th>Office for Transportation Security</th>
</tr>
<tr>
     <th>National aviation Security Certification System</th>
     <th>June 16, 2016</th>
     <th>Office for Transportation Security</th>
</tr>
<tr>
     <th>Aviation Security Screener Refresher Training</th>
     <th>May 23-27, 2016</th>
     <th>Office for Transportation Security</th>
</tr>
<tr>
     <th>Aviation Security Screener Refresher Training</th>
     <th>April 01-04, 2014</th>
     <th>Office for Transportation Security</th>
</tr>
<tr>
     <th>Basic Aviation Security Screener Training Course</th>
     <th>Sept. 27, 2012 - Oct. 19, 2012</th>
     <th>Office for Transportation Security</th>
</tr>
<tr>
     <th>Aviation Security Awareness Seminar</th>
     <th>April 02, 2012</th>
     <th>Office for Transportation Security</th>
</tr>
</table>

<h3>SKILLS</h3>
<ul class = "a">
<p> <li>Good communication Skills</li>
    <li>Assemble and Disassemble Desktop Computer</li>
    <li>Project Management</li>
</ul></p>

<h3>CHARACTER REFERENCE</h3>
<h4><li>IO2 NOAH V. ENANO </li></h4>
<ul>OTS-Davao Supervisor</ul>
<ul>Davao International Airport</ul>  
<ul>09102345678</ul>
<h4><li>IAA JUDITH GABRONINO </li></h4>
<ul>Delta Team Leader</ul>
<ul>Sasa Davao City</ul>
<h4><li>IO1 MARLON CABUAL </li></h4>
<ul>Bangkal Davao City</ul>
<ul>09102345678</ul>

</div>
</body>
</html>
