div {
    border: 5px solid #000000;
    margin: 25px;
    padding: 25px; 
    width:1200px;
    
}

img {
    border: 2px solid #000000;
    position: absolute;
    top: 170px;
    right: 20px;
    width: 180px;
    height: 180px;

}

h1{
    position: relative;
    top: 5px;
    font-size: 40px;
}

h3{
    position: relative;
    left: 40px;
    font-size: 30px;
}

h4{
    position: relative;
    left: 40px;
    font-size: 20px;
}

h5{
    position: relative;
    left:50px; 
    
}
table.center{
    margin-left: auto;
    margin-right: auto;
    border:5px solid #000000;
    position: center;
    tab-size: 1200px;
}

body{
    font-family: Tahoma;
    font-size: 15px;
}

li {
    position: relative;
    font-size: 20px;
    padding-left:1em;
    color:#000000; 
}
li span {
    display:block;
    margin-left:-0.5em;
    color:#000000; 
}
ul {
    position: relative;
    left:50px;
    font-size: 20px;
    color:#000000; 
}

ul.a{
    list-style-type: circle;
}
p{
    line-height: 20px;
}